
*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}
body {
    margin: 0;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    border: 1px solid #ccc;
}

.logo img {
    width: 200px;
    height: auto;
    margin-left: 260px;
}

.nav ul {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 550px;
    height: 35px;
    text-align: center;
}
.nav li  
 {   color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    background-color: #0a0a3c;
    border-radius:5px;
    padding: 8px 8px;
}

.icons {
    display: flex;
    gap:5px;
    margin-right: 250px;
}

.icons  img 
 {   height: 30px;
    width: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.container 
  { width: 1000px;
  margin: 50px auto;
  padding: 0 15px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 8px;
  text-decoration: none;
 border: 1px solid #ccc;
}

.button-left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  font-weight: bold;
 
}
.button-left img
{
  width: 25px;
}


.whatsapp-join, .telegram-join {
  padding: 8px 16px;
  color:white;
  font-weight:lighter;
  border-radius: 25px;
  border: 1px solid #ccc;
}


 .whatsapp-join {
  background-color: #25D366;
}


.telegram-join
 { background-color: #0088cc;
 }
 .container-match {
  max-width: 1000px;
  margin: 15px auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.today-matches,.yesterday,.today,.upcoming {
  background-color: #0a0851;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.nav-tabs {
  display: flex;
  gap: 10px;
}

.tab {
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
.match-card {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
}

.match-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.team {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 300px;
  justify-content:center;
}

.team-logo {
  width: 75px;
  height: 75px;
}

.team-name {
  font-size: 16px;
  color: #000;
  width: 200px;
}

.match-time {
  font-size: 15px;
  color: #000;
}

.vs {
  font-weight:500;
  font-size: large;
  color: #000;
}
.match-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-top: 1px solid #eee;
}

.info-item {
  
  align-items: center;
  color: black;
  font-weight: bold;
}

.latest-posts {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
}

.latest-posts h2 {
  background-color: #1a1a3a;
  color: white;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 100;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}

.post {
  background: white;
  border-radius: 8px;
}

.post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post p {
  padding: 15px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.show-more {
  margin-left: 452px;
    border-radius: 4px;
    height: 30px;
    width: 85px;
    color: #141212;
    border-color: #ccc;
}
  

  .container-last {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
}

.header-epicsports {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 20px;
}

.logo-footer {
  background-color: #1a1a3a;
  color: white;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 100;
}
.description {
    font-size: 16px;
}

.section {
    margin-right: 20px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.links-list {
    list-style-type: none;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    
}
.links-list li
{
  background-color: #faf7f7;
  border-radius: 5px;
  margin-bottom: 10px;
}

.footer-links {
    margin-bottom: 10px;
    background-color: #f8f9fa;
    padding: 15px 20px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    text-align: center;
    color: #666;
}
.footer-links li
{
  text-decoration: none;
    color: #666;
    margin-bottom: 10px;
    list-style: none;
    
}
.site-credit {
    font-size: 14px;
    color: #888;
    text-align: center;
}



   
    
  
  

  
  
  